.flatIcon {
  height: 56px;
  width: 56px;
  display: none;
}
.flatIcon,
.title,
.value1 {
  position: relative;
}
.title {
  align-self: stretch;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
.value1 {
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  min-width: 100px;
}
.value {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslateblue);
}
.content,
.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-9xs);
}
.content {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-xs);
}
.leftIcon {
  height: 20px;
  width: 20px;
  position: relative;
  z-index: 0;
}
.loadingIconChild,
.loadingIconInner,
.loadingIconItem {
  position: relative;
  border-radius: 50%;
  background-color: var(--shape-white);
}
.loadingIconChild {
  height: 4.5px;
  width: 4.5px;
  opacity: 0.6;
}
.loadingIconInner,
.loadingIconItem {
  height: 7px;
  width: 7px;
}
.loadingIconInner {
  height: 2.5px;
  width: 2.5px;
  opacity: 0.8;
}
.loadingIcon {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs-5) 0;
  box-sizing: border-box;
  gap: var(--gap-10xs);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.label {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}
.buildingBlocksLabel {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.rightIcon {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
  min-height: 20px;
  z-index: 3;
}
.baseButton,
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  gap: var(--gap-5xs);
}
.baseButton {
  border-radius: var(--br-31xl);
  padding: var(--padding-xs);
}
.button,
.buttonContainer {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  display: flex;
}
.buttonContainer {
  display: none;
  padding: var(--padding-9xs);
  font-size: var(--button-2-size);
  color: var(--shape-white);
}
.smallCard {
  flex: 1;
  box-shadow: var(--shadow-tim);
  border-radius: var(--br-base);
  background-color: var(--shape-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--caption-size);
  color: var(--text-black-medium-emphasis);
  font-family: var(--button-2);
}
@media screen and (max-width: 450px) {
  .value1 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
}
